body {
    min-height: 100vh;
    background-color: #241920;
    color: #A4B494;
}

a:link, a:visited {
    color: #519872;
}

a:hover {
    color: #BDDBCB;
}

@media (min-width:1024px){
    .content{
        max-width: 900px;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}